{% extends 'main.html' %}
{% load static %}

   {% block content %}

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="{% url 'homepage' %}" class="logo">
                <img src='{% static  "assets/images/logo.png"  %}'' alt="" />
              </a>
              <!-- ***** Logo End ***** -->

              <!-- ***** Search Start***** -->
              <div class="search-input">
                <form id="search" action="{% url 'search' %}">
                  <input
                    type="text"
                    placeholder="Type Something"
                    id="searchText"
                    name="search_keyword"
                    onkeypress="handle"
                  />
                  <i class="fa fa-search"></i>
                </form>
              </div>
              <!-- ***** Search End ***** -->

              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li><a href="{% url 'homepage' %}" class="active">Home</a></li>
                <li><a href="{% url 'browse' %}">Browse</a></li>
                <li><a href="{% url 'streams' %}">Streams</a></li>
                <li>
                  <a href="{% url 'profile' %}"
                    >Profile <img src="{% static 'assets/images/profile-header.jpg' %}" alt=""
                  /></a>
                </li>
              </ul>
              <a class="menu-trigger">
                <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-content">
            
            <!-- ***** Banner Start ***** -->
            <div class="main-banner">
              <div class="row">
                <div class="col-lg-7">
                  <div class="header-text">
                    <h6>Welcome To Game Plaza Live</h6>
                    <h4><em>Browse</em> Our Popular Games Here</h4>
                    <div class="main-button">
                      <a href="{% url 'browse' %}">Browse Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ***** Banner End ***** -->

            <!-- ***** Most Popular Start ***** -->
            <div class="most-popular">
              <div class="row">
                <div class="col-lg-12">
                  <div class="heading-section">
                    <h4><em>Most Popular</em> Right Now</h4>
                  </div>


                  <div class="row">

                   
                   {% include 'show_result.html' %}

                  </div>



                </div>
              </div>
            </div>
            <!-- ***** Most Popular End ***** -->

            <!-- ***** Gaming Library Start ***** -->
            <div class="gaming-library">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>Your Gaming</em> Library</h4>
                </div>
                <div class="item">
                  <ul>
                    <li>
                      <img
                        src="assets/images/game-01.jpg"
                        alt=""
                        class="templatemo-item"
                      />
                    </li>
                    <li>
                      <h4>Dota 2</h4>
                      <span>Sandbox</span>
                    </li>
                    <li>
                      <h4>Date Added</h4>
                      <span>24/08/2036</span>
                    </li>
                    <li>
                      <h4>Hours Played</h4>
                      <span>634 H 22 Mins</span>
                    </li>
                    <li>
                      <h4>Currently</h4>
                      <span>Downloaded</span>
                    </li>
                    <li>
                      <div class="main-border-button border-no-active">
                        <a href="#">Donwloaded</a>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item">
                  <ul>
                    <li>
                      <img
                        src="assets/images/game-02.jpg"
                        alt=""
                        class="templatemo-item"
                      />
                    </li>
                    <li>
                      <h4>Fortnite</h4>
                      <span>Sandbox</span>
                    </li>
                    <li>
                      <h4>Date Added</h4>
                      <span>22/06/2036</span>
                    </li>
                    <li>
                      <h4>Hours Played</h4>
                      <span>740 H 52 Mins</span>
                    </li>
                    <li>
                      <h4>Currently</h4>
                      <span>Downloaded</span>
                    </li>
                    <li>
                      <div class="main-border-button">
                        <a href="#">Donwload</a>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item last-item">
                  <ul>
                    <li>
                      <img
                        src="assets/images/game-03.jpg"
                        alt=""
                        class="templatemo-item"
                      />
                    </li>
                    <li>
                      <h4>CS-GO</h4>
                      <span>Sandbox</span>
                    </li>
                    <li>
                      <h4>Date Added</h4>
                      <span>21/04/2036</span>
                    </li>
                    <li>
                      <h4>Hours Played</h4>
                      <span>892 H 14 Mins</span>
                    </li>
                    <li>
                      <h4>Currently</h4>
                      <span>Downloaded</span>
                    </li>
                    <li>
                      <div class="main-border-button border-no-active">
                        <a href="#">Donwloaded</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="main-button">
                  <a href="profile.html">View Your Library</a>
                </div>
              </div>
            </div>
            <!-- ***** Gaming Library End ***** -->
          </div>
        </div>
      </div>
    </div>

    {% endblock  %}